<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/shared/layout::dynamic(~{::view})}">
	<main th:fragment="view">
		<ul th:object="${order}">
			<li th:text="*{id}"></li>
			<li th:text="*{createDate}"></li>
			<li th:text="*{amount}"></li>
			<li th:text="*{address}"></li>
			<li th:text="*{orderState.name}"></li>
		</ul>
		<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="d : ${order.orderDetails}">
                <td th:text="${d.product.id}"></td>
                <td th:text="${d.product.name}"></td>
                <td th:text="${d.unitPrice}"></td>
                <td><span th:text="${d.discount * 100}"></span>%</td>
                <td th:text="${d.quantity}"></td>
                <td th:text="${d.quantity*d.unitPrice*(1-d.discount)}"></td>
            </tr>
        </tbody>
    </table>
	</main>
</html>