<nav xmlns:th="http://www.thymeleaf.org">
    <div class="card mb-3">
        <div class="card-header"><b>DANH MỤC HÀNG HÓA</b></div>
        <div class="list-group list-group-flush">
        	<th:block th:each="c: ${categories}">
            	<a th:href="@{|/product/category/${c.id}|}" class="list-group-item list-group-item-action">
            		<span th:text="${c.nameVn}"></span>
            		<span class="badge rounded-pill bg-primary float-end">
            			<b th:text="${c.products.size()}"></b>
            		</span>
            	</a>
            </th:block>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Header</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
        </div>
        <div class="card-footer">Footer</div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Header</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
        </div>
        <div class="card-footer">Footer</div>
    </div>
</nav>